<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MobileAppFlow">
    <listeners>
		<listener class-name="core.ReportUtility"></listener>
	</listeners>

	<test name="FlexiloansMultiFlows ">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.FlexiloanFlows.testCases.TestingClass"/>
		</classes>
	</test>
</suite>